
h1, h2 {
  border: 4px solid white;
  color: #FFB6C1;
  background-color: whitee;
  text-align : center;
  font-style: blue;
}
 body{
   background-color: pink;}


a { text-decoration:none; }

h1 {
    color: black;
    text-align: center;
}

h2 {
  color: black;
  text-align: right;
}

p{
  color:black;
  text-align: courier;
}



h1 {
    color: black;
    text-align: center;
}

h2 {
  color: black;
  text-align: left;
}

p{
  color: black ;
  text-align: justify;
}
